{% extends 'base.html' %}

{% block title %}Internal Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Internal Dashboard</h1>
    <ul class="list-group">
        <li class="list-group-item">Users: {{ stats.users }}</li>
        <li class="list-group-item">Donations: {{ stats.donations }}</li>
        <li class="list-group-item">Prayer Requests: {{ stats.prayers }}</li>
        <li class="list-group-item">Events: {{ stats.events }}</li>
    </ul>
</div>
{% endblock %}
